:root {
    --red: #ff4654;
    --background: #0f1722;
}

.agentClicked {
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.agentClicked > .superiorDiv {
    display: flex;
}

.agentClicked > .superiorDiv > img {
    width: 50vw;
}

.agentClicked > .superiorDiv > .informationsAboutAgentClicked {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3vw;
    font-size: 1.5vw;
    gap: 10px;
}

.agentClicked > .superiorDiv > .informationsAboutAgentClicked > h1 {
    border: 2px solid var(--red);
    border-radius: 50px;
    padding: 20px;
}

.agentClicked > .superiorDiv > .informationsAboutAgentClicked > p {
    border-bottom: 2px solid var(--red);
    border-radius: 50px;
    padding: 20px;
}

.agentClicked > .superiorDiv > .informationsAboutAgentClicked > h2 {
    border: 2px solid var(--red);
    border-radius: 50px;
    padding: 20px;
}


.agentClicked > .inferiorDiv > h2 {
    color: var(--red);
    font-size: 4vw;
    margin-top: 50px;
}

.agentClicked > .inferiorDiv > hr {
    border: none;
    border-bottom: 4px dotted var(--red);
    margin: 50px;
}

.agentClicked > .inferiorDiv > .abilities {
    display: flex;
    gap: 10px;
}

.agentClicked > .inferiorDiv > .abilities > .abilitiesDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    border: 2px solid var(--red);
    border-radius: 80px;
    padding: 20px;
    gap: 30px;
    transition: .7s ease-in-out;
    cursor: pointer;
}

.agentClicked > .inferiorDiv > .abilities > .abilitiesDiv:hover {
    padding: 80px;
    box-shadow: 2px 2px 20px var(--red);
}

.agentClicked > .inferiorDiv > .abilities > .abilitiesDiv:hover h2{
    color: var(--red);
}

.agentClicked > .inferiorDiv > .abilities > .abilitiesDiv > h2 {
    border: 2px solid var(--red);
    border-radius: 50px;
    padding: 10px;
}

.agentClicked > .inferiorDiv > .abilities > .abilitiesDiv > img {
    width: 25%;
}

@media screen and (max-width: 900px) and (min-width: 601px){
    .agentClicked > .superiorDiv > .informationsAboutAgentClicked {
        padding: 3vw;
        font-size: 2vw;
        gap: 30px;
    }
    
    .agentClicked > .inferiorDiv > hr {
        margin: 40px;
    }

    .agentClicked > .inferiorDiv > .abilities > .abilitiesDiv {
        justify-content: center;
        padding: 10px;
    }
    
    .agentClicked > .inferiorDiv > .abilities > .abilitiesDiv:hover {
        padding: 10px;
    }
}

@media screen and (max-width: 600px) and (min-width: 426px) {
    .agentClicked > .superiorDiv {
        flex-direction: column;
    }

    .agentClicked > .superiorDiv > img {
        width: 100vw;
        align-self: center;
        margin-bottom: 50px;
    }

    .agentClicked > .superiorDiv {
        flex-direction: column;
    }

    .agentClicked > .superiorDiv > .informationsAboutAgentClicked {
        padding: 0vw;
        font-size: 3vw;
        gap: 20px;
    }

    .agentClicked > .superiorDiv > .informationsAboutAgentClicked > p {
        font-size: 4vw;
    }

    .agentClicked > .inferiorDiv > h2 {
        font-size: 6vw;
        margin-top: 50px;
    }
    
    .agentClicked > .inferiorDiv > hr {
        margin: 40px;
    }

    .agentClicked > .inferiorDiv > .abilities {
        flex-direction: column;
        gap: 10px;
    }

    .agentClicked > .inferiorDiv > .abilities > .abilitiesDiv {
        align-self: center;
        width: 80vw;
        padding: 20px;
    }
    
    .agentClicked > .inferiorDiv > .abilities > .abilitiesDiv:hover {
        padding: 20px;
    }
}

@media screen and (max-width: 425px) {
    .agentClicked > .superiorDiv {
        flex-direction: column;
    }

    .agentClicked > .superiorDiv > img {
        width: 100vw;
        align-self: center;
        margin-bottom: 50px;
    }

    .agentClicked > .superiorDiv {
        flex-direction: column;
    }

    .agentClicked > .superiorDiv > .informationsAboutAgentClicked {
        padding: 0vw;
        font-size: 3vw;
        gap: 20px;
    }

    .agentClicked > .superiorDiv > .informationsAboutAgentClicked > p {
        font-size: 4vw;
    }

    .agentClicked > .inferiorDiv > h2 {
        font-size: 6vw;
        margin-top: 50px;
    }
    
    .agentClicked > .inferiorDiv > hr {
        margin: 40px;
    }

    .agentClicked > .inferiorDiv > .abilities {
        flex-direction: column;
        gap: 10px;
    }

    .agentClicked > .inferiorDiv > .abilities > .abilitiesDiv {
        align-self: center;
        width: 80vw;
        padding: 20px;
    }
    
    .agentClicked > .inferiorDiv > .abilities > .abilitiesDiv:hover {
        padding: 20px;
    }
}