form > input {
    border: none;
    border-radius: 30px;
    width: 30vw;
    padding: 15px;
    color: black;
    font-size: 20px;
    text-align: center;
    outline: none;
    margin-bottom: 50px;
    transition: .5s ease-in-out;
}

form > input:hover {
    width: 40vw;
}

form > button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    margin-left: 30px;
    cursor: pointer ;
}

@media screen and (max-width: 900px) and (min-width: 601px) {
    form > input {
        width: 50vw;
        margin-bottom: 40px;
        padding: 10px;
    }

    form > input:hover {
        width: 70vw;
    }
}

@media screen and (max-width: 600px) and (min-width: 426px) {
    form > input {
        width: 70vw;
        margin-bottom: 40px;
        font-size: 2.7vw;
    }
    
    form > input:hover {
        width: 60vw;
    }

    form > button {
        font-size: 20px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 425px) {
    form > input {
        width: 60vw;
        margin-bottom: 40px;
        font-size: 2.7vw;
    }
    
    form > input:hover {
        width: 60vw;
    }

    form > button {
        font-size: 20px;
        margin-left: 30px;
    }
}