:root {
    --red: #ff4654;
    --background: #0f1722;
}

.mapClicked {
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.mapClicked > .superiorDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px;
}

.mapClicked > .superiorDiv > img {
    width: 50vw;
    border-radius: 100px;
}

.mapClicked > .superiorDiv > .informationsAboutMapClicked {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3vw;
    font-size: 1.5vw;
    gap: 10px;
}

.mapClicked > .superiorDiv > .informationsAboutMapClicked > h1 {
    border: 2px solid var(--red);
    border-radius: 50px;
    padding: 20px;
}

.mapClicked > .superiorDiv > .informationsAboutMapClicked > p {
    border-bottom: 2px solid var(--red);
    border-radius: 50px;
    padding: 20px;
}

.mapClicked > .superiorDiv > .informationsAboutMapClicked > h2 {
    border: 2px solid var(--red);
    border-radius: 50px;
    padding: 20px;
}

.mapClicked > .superiorDiv > .informationsAboutMapClicked > img {
    width: 80%;
}

.mapClicked > .inferiorDiv > h2 {
    color: var(--red);
    font-size: 4vw;
    margin-top: 50px;
}

.mapClicked > .inferiorDiv > hr {
    border: none;
    border-bottom: 4px dotted var(--red);
    margin: 50px;
}

.mapClicked > .inferiorDiv > .informationsSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.mapClicked > .inferiorDiv > .informationsSection > button {
    border: 2px solid var(--red);
    border-radius: 15px;
    box-shadow: 2px 2px 20px var(--red);
    padding: 40px;
    background-color: transparent;
    color: var(--red);
    font-size: 1.5vw;
    margin: 50px;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.mapClicked > .inferiorDiv > .informationsSection > button:hover {
    padding: 50px;
}

.mapClicked > .inferiorDiv > .informationsSection > button:active {
    transition: .1s;
    box-shadow: 2px 2px 100px var(--red);
}

.mapClicked > .inferiorDiv > .informationsSection > .regionsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 90vw;
    border: 2px solid var(--red);
    border-radius: 80px;
    padding: 20px;
    gap: 30px;
    transition: .7s ease-in-out;
    cursor: pointer;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.mapClicked > .inferiorDiv > .informationsSection > .regionsDiv:hover {
    padding: 40px;
    box-shadow: 2px 2px 20px var(--red);
}

.mapClicked > .inferiorDiv > .informationsSection > .regionsDiv:hover h2{
    color: var(--red);
}

.mapClicked > .inferiorDiv > .informationsSection > .regionsDiv > h2 {
    border: 2px solid var(--red);
    border-radius: 50px;
    padding: 10px;
}

.mapClicked > .inferiorDiv > .informationsSection > .regionsDiv > h3 {
    border-bottom: 2px solid var(--red);
    border-radius: 50px;
    padding: 10px;
}

@media screen and (max-width: 900px) and (min-width: 601px){
    .mapClicked > .superiorDiv > .informationsAboutMapClicked {
        padding: 3vw;
        font-size: 2vw;
        gap: 30px;
    }
    
    .mapClicked > .inferiorDiv > hr {
        margin: 40px;
    }

    .mapClicked > .inferiorDiv > .informationsSection > button {
        font-size: 3vw;
    }
    
    .mapClicked > .inferiorDiv > .informationsSection > button:hover {
        padding: 40px;
    }

    .mapClicked > .inferiorDiv > .informationsSection > .regionsDiv {
        justify-content: center;
        padding: 10px;
    }
    
    .mapClicked > .inferiorDiv > .informationsSection > .regionsDiv:hover {
        padding: 10px;
    }
}

@media screen and (max-width: 600px) and (min-width: 426px) {
    .mapClicked > .superiorDiv {
        flex-direction: column;
    }

    .mapClicked > .superiorDiv > img {
        width: 100vw;
        align-self: center;
        margin-bottom: 50px;
    }

    .mapClicked > .superiorDiv {
        flex-direction: column;
    }

    .mapClicked > .superiorDiv > .informationsAboutMapClicked {
        padding: 0vw;
        font-size: 3vw;
        gap: 20px;
    }

    .mapClicked > .superiorDiv > .informationsAboutMapClicked > p {
        font-size: 4vw;
    }

    .mapClicked > .inferiorDiv > h2 {
        font-size: 6vw;
        margin-top: 50px;
    }
    
    .mapClicked > .inferiorDiv > hr {
        margin: 40px;
    }

    .mapClicked > .inferiorDiv > .informationsSection {
        flex-direction: column;
        gap: 10px;
    }

    .mapClicked > .inferiorDiv > .informationsSection > button {
        font-size: 4.5vw;
    }
    
    .mapClicked > .inferiorDiv > .informationsSection > button:hover {
        padding: 40px;
    }

    .mapClicked > .inferiorDiv > .informationsSection > .regionsDiv {
        align-self: center;
        width: 80vw;
        padding: 20px;
    }

    .mapClicked > .inferiorDiv > .informationsSection > .regionsDiv:hover {
        padding: 20px;
    }
}

@media screen and (max-width: 425px) {
    .mapClicked > .superiorDiv {
        flex-direction: column;
    }

    .mapClicked > .superiorDiv > img {
        width: 100vw;
        align-self: center;
        margin-bottom: 50px;
    }

    .mapClicked > .superiorDiv {
        flex-direction: column;
    }

    .mapClicked > .superiorDiv > .informationsAboutMapClicked {
        padding: 0vw;
        font-size: 3vw;
        gap: 20px;
    }

    .mapClicked > .superiorDiv > .informationsAboutMapClicked > p {
        font-size: 4vw;
    }

    .mapClicked > .inferiorDiv > h2 {
        font-size: 6vw;
        margin-top: 50px;
    }
    
    .mapClicked > .inferiorDiv > hr {
        margin: 40px;
    }

    
    .mapClicked > .inferiorDiv > .informationsSection {
        flex-direction: column;
        gap: 10px;
    }
    
    .mapClicked > .inferiorDiv > .informationsSection > button {
        font-size: 4.5vw;
    }
    
    .mapClicked > .inferiorDiv > .informationsSection > button:hover {
        padding: 40px;
    }

    .mapClicked > .inferiorDiv > .informationsSection > .cardsContainer> .cardsSkins > img {
        width: 70vw;
    }
    
    .mapClicked > .inferiorDiv > .informationsSection > .regionsDiv {
        align-self: center;
        width: 80vw;
        padding: 20px;
    }
    
    .mapClicked > .inferiorDiv > .informationsSection > .regionsDiv:hover {
        padding: 20px;
    }
}