* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #ff4654;
    --background: #0f1722;
}

::-webkit-scrollbar {
    border: 1px dotted var(--red);
    border-radius: 100px; 
}

::-webkit-scrollbar-thumb {
    background-color: #ff4656bd;
    border-radius: 100px;
}

body {
    width: 99vw;
    background-color: var(--background);
    color: white;
}

.mainSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mainSection > h1, .loading {
    text-align: center;
    font-size: 4vw;
    color: var(--red);
    text-shadow: 2px 2px black;
    margin-bottom: 30px;
}

.mainSection > h2, .howToUse {
    text-align: center;
    font-size: 2vw;
    margin-bottom: 20px;
}

.mainSection > hr {
    border: none;
    border-bottom: 4px dotted var(--red);
    width: 90vw;
    margin: 20px 0px;
}

.showAllCards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 99vw;
    gap: 1vw;
    margin-bottom: 50px;
}

.showAllCards > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    width: 23vw;
    border: 1px solid var(--red);
    border-radius: 30px;
    box-shadow: 1px 1px 5px var(--red);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.showAllCards > div:hover {
    width: 25vw;
}

.showAllCards > div:active {
    transition: .1s;
    border: 50px solid var(--red);
    border-radius: 100px;
}

.showAllCards > div > img {
    width: 100%;
}

.showAllCards > div > p {
    margin-top: 40px;
    text-align: center;
    font-size: 30px;
    color: var(--red);
    text-shadow: 2px 2px 5px black;
}

@media screen and (max-width: 900px) and (min-width: 601px) {
    .mainSection > h1, .loading {
        text-align: center;
        font-size: 4vw;
        color: var(--red);
        text-shadow: 2px 2px black;
        margin: 40px;
    }
    
    .mainSection > h2, .howToUse {
        text-align: center;
        font-size: 3vw;
        margin: 0px 20px 40px;
    }   

    .showAllCards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 97vw;
        gap: 1vw;
        margin: 50px 0px;
    }

    .showAllCards > div {
        width: 31vw;
    }

    .showAllCards > div:hover {
        width: 31vw;
    }

    .showAllCards > div:active {
        transition: .1s;
        border: none;
    }
    
}

@media screen and (max-width: 600px) and (min-width: 426px) {
    .mainSection > h1, .loading {
        text-align: center;
        font-size: 5.5vw;
        color: var(--red);
        text-shadow: 2px 2px black;
        margin: 0px 0px 30px 0px;
    }
    
    .mainSection > h2, .howToUse {
        text-align: center;
        font-size: 5vw;
        margin: 0px 20px 40px;
    }

    .showAllCards {
        flex-direction: column;
        width: 99vw;
        gap: 5vw;
    }
    .showAllCards > div {
        height: 80vh;
        width: 90vw;
    }

    .showAllCards > div:hover {
        width: 90vw;
    }

    .showAllCards > div:active {
        transition: .1s;
        border: none;
    }
}

@media screen and (max-width: 425px) {
    .mainSection > h1, .loading {
        text-align: center;
        font-size: 6.5vw;
        color: var(--red);
        text-shadow: 2px 2px black;
        margin: 0px 0px 30px 0px;
    }
    
    .mainSection > h2, .howToUse {
        text-align: center;
        font-size: 4.5vw;
        margin: 0px 20px 40px;
    }

    .showAllCards {
        flex-direction: column;
        width: 99vw;
        gap: 5vw;
    }
    
    .showAllCards > div {
        height: 55vh;
        width: 90vw;
    }

    .showAllCards > div:hover {
        width: 90vw;
    }

    .showAllCards > div > p {
        margin-top: 30px;
    }

    .showAllCards > div:active {
        transition: .1s;
        border: none;
    }
}